/* Réinitialisation basique */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mise en page générale */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1e23; /* Nouveau fond sombre */
    color: #e0e0e0; /* Texte clair sur fond sombre */
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Formulaire */
form {
    background-color: #313338; /* Fond des formulaires */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

label {
    font-size: 1.1rem;
    color: #d0d0d0;
    margin-bottom: 5px;
    display: block;
}

input, textarea, select {
    background-color: #444848; /* Fond des champs de saisie */
    color: #e0e0e0; /* Texte des champs */
    border: 1px solid #555757; /* Bordure claire */
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
}

/* Ajout d'un hover sur les champs de saisie */
input:hover, textarea:hover, select:hover {
    border-color: #66aaff; /* Bleu clair au survol */
}

/* Bouton */
button {
    background-color: #66aaff; /* Bleu clair */
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #539ed8; /* Bleu plus foncé au survol */
}

/* Responsivité */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    form {
        padding: 15px;
    }

    label {
        font-size: 1rem;
    }

    input, textarea, select {
        font-size: 0.9rem;
    }

    button {
        font-size: 1rem;
    }
}